.npmignore
.gitignore
.buildinfo
.DS_Store

HISTORY
Readme.md
TODO

*.log

docs/
docs/sphinx-docs
data/
dev/
examples/
test/

build/*
!build/Release/
build/Release/*
!build/Release/*.node

node_modules/
